.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.loginForm__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginForm .errorlist {
  color: var(--oc-red-9);
  margin: 0;
}
